body {
  font-family: "Inter", sans-serif;
  background: url(./imgs/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-size: 16px;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
}
h1 {
  font-size: 60px;
  line-height: 0.8em;
}
header {
  margin: auto;
  width: 50vw;
}

header img {
  height: 3em;
  padding: 2vw 0;
}
section {
  margin: auto;
  width: 50vw;
}
b {
  font-weight: bold;
}

.hidden {
  display: none;
}
#welcome h1 {
  font-weight: 400;
}
#welcome h1 span {
  font-weight: 800;
}

#welcome h2 {
  margin-bottom: 0;
}

.text-magenta {
  color: #d20094;
}

#welcome ul {
  margin: 2em 0;
  padding-left: 20px;
  line-height: 1.5em;
}

#welcome p {
  margin-bottom: 0;
}

#checkb {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: rgba(40, 40, 40, 0.2);
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid white;
  position: relative;
  top: 5px;
}

#checkb:checked {
  background: #0ff;
}

#proceed {
  margin-top: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 20px 60px;
  background-color: #0ff;
  color: black;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 32px 0px #0ff;
  font-family: "Outfit", sans-serif;
  font-size: medium;
}
/*-------------------------------------------------------------*/
#questions h1 {
  margin-top: 2em;
  margin-bottom: 100px;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
}
#questions h1 span {
  font-weight: 800;
}

#questions form {
  text-align: center;
}

.radio-container label {
  display: inline-block;
  min-width: 350px;
  padding: 20px;
  border: solid 0px #ccc;
  transition: all 0.3s;
  border-radius: 35px;
  box-shadow: -1px -1px 3px 1px rgba(255, 255, 255, 0.899);
  background-color: rgba(255, 251, 251, 0.103);
  margin: 15px 20px;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container input[type="radio"]:checked + label {
  background: linear-gradient(180deg, #d20094, #900080);
}
.radio-container label:hover {
  background-color: #d2009488;
}

.radio-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 75px;
}

#question-footer {
  display: flex;
  justify-content: space-between;
}

#question-footer span {
  color: #d20094;
}

.arrow {
  color: white;
  font-size: x-large;
  margin-top: 0.6em;
}

/* FeedBackSection  */

#feedback {
  text-align: center;
}
#comment {
  display: block;
  width: 90%;
  margin: 3em auto;
  padding: 1em;
  background: rgba(40, 40, 40, 0);
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 2px solid #d20094;
  font-size: large;
}
#comment ::placeholder {
  color: rgb(54, 54, 54);
}
.feedbackrating {
  display: inline-block;
}
#fieldsetFeedback {
  border: none;
  word-spacing: 5px;
}
.feedbackrating img {
  cursor: pointer;
}
.feedbackrating img {
  filter: none;
  -webkit-filter: grayscale(100%) brightness(0%) opacity(50%);
  -moz-filter: grayscale(100%) brightness(0%) opacity(50%);
  -ms-filter: grayscale(100%) brightness(0%) opacity(50%);
  -o-filter: grayscale(100%) brightness(0%) opacity(50%);
  cursor: pointer;
}

.feedbackrating img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.stars_col {
  -webkit-filter: grayscale(0%) !important;
  -moz-filter: grayscale(0%) !important;
  -ms-filter: grayscale(0%) !important;
  -o-filter: grayscale(0%) !important;
}

.feedbackrating input[type="radio"] {
  display: none;
}
#results h1,
h3 {
  text-align: center;
}
#buttonresult {
  text-align: center;
}

.single-chart {
  width: 60%;
  display: grid;
  place-items: center;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 1250px;
}

.circle-bg {
  fill: none;
  stroke: #d20094;
  stroke-width: 4;
}

.circle {
  fill: none;
  stroke-width: 4;
  /*  stroke-linecap: square; */
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.color .circle {
  stroke: #0ff;
}
.align-right {
  text-align: right;
}

.innergraphic {
  position: absolute;
  width: 15%;
  left: 43%;
  text-align: center;
}

.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4em auto;
}

/********** RESULTS PAGE ANSWERS ***********/
.yourAnswersH2 {
  margin-top: 3em;
}
.answer {
  background-color: #ffffff;
  border: 2px solid #d20094;
  display: flex;
  justify-content: space-between;
  color: black;
  margin: 2em auto;
  padding: 20px;
  font-weight: 400;
}
.answer ion-icon {
  font-size: 16px;
  margin-right: 7px;
}
.answer h6 {
  color: #d20094;
  font-size: 21px;
  margin: 0;
}
.answer div {
  width: 60%;
  padding: 20px;
}
.answer div:not(:first-of-type) {
  width: 40%;
}
.answer ul {
  list-style-type: none;
  padding: 0;
}

/**************************** TIMER *****************************************/
#app {
  float: right;
  margin-top: 1em;
}
/* Sets the containers height and width */

.base-timer {
  position: relative;
  height: 120px;
  width: 120px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;

  /* Size should match the parent container */
  width: 120px;
  height: 120px;

  /* Keep the label aligned to the top */
  top: 0;

  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 32px;
  font-family: "outfit", sans-serif;
  font-weight: 400;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 10px;
  /*stroke-dasharray: 283 283;*/

  /* Rounds the line endings to create a seamless circle */

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
  filter: drop-shadow(4px 4px 5px #00000078);
}

.base-timer__path-remaining.green {
  color: #0ff;
}

.base-timer__path-remaining.orange {
  color: #d20094;
}

.base-timer__path-remaining.red {
  color: red;
}
